doctype html
html(lang="en")
  head
    title= 'login with github'
  body
    a(href="https://github.com/login/oauth/authorize?client_id=" + clientID + "&redirect_uri=" + redirectUri ) Login with Github
